html {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: none;
    padding-bottom: 15rem;
}

nav {
    background-color: #505050;
}

article {
    padding-top: 10rem;
}

@media (max-width: 767px) {
    article {
        padding-top: 5rem;
    }

    article:first-child {
        padding-top: 1rem;
    }
}

article h2 {
    color: white;
    background-color: rgba(0, 0, 0, .55);
    padding: 1.5rem 2rem;
    margin-bottom: 0;
}

article .card-deck {
    background: rgba(0, 0, 0, .3);
    padding: 0 1rem 2rem 1rem;
}

article .card-deck .card {
    flex-basis: 30%;
    margin: 1rem 0.5rem 0 !important;
}